

<div class="menu ml-auto "> <span></span> </div>
<nav id="nav">
		<ul class="main">
				<h3 style="">SmartPhone</h3>
                <br>
				
				{{#if isHome}}
				<h3 class="active" ><a href="/"><i class="fas fa-home"></i> Home</a></h3>
				{{else}}
				<h3><a href="/"><i class="fas fa-home"></i> Home</a></h3>
				{{/if}}
				{{!-- registerdan o'tilgandan keyin ko'rsatiladigan menular --}}
				{{#if isAuth}}
				{{#if isPhone}}
					<h3 class="active"><a href="/smart"><i class="fas fa-mobile-alt"></i> Smartphone</a></h3>
				{{else}}
					<h3><a href="/smart"><i class="fas fa-mobile-alt"></i> Smartphone</a></h3>
				{{/if}}

				{{#if isAdd}}
				<h3 class="active"><a href="/add"><i class="fas fa-puzzle-piece"></i> Add Smartphone</a></h3>
				{{else}}
				<h3><a href="/add"><i class="fas fa-puzzle-piece"></i> Add Smartphone</a></h3>
				{{/if}}

				{{#if isCard}}
				<h3 class="active"><a href="/card"><i class="fas fa-cart-plus"></i> Cart</a></h3>
				{{else}}
				<h3><a href="/card"><i class="fas fa-cart-plus"></i>Cart</a></h3>
				{{/if }}

				{{#if isOrder}}
				<h3 class="active"><a href="/orders"><i class="fas fa-luggage-cart"></i>Order</a></h3>
				{{else}}
				<h3><a href="/orders"><i class="fas fa-luggage-cart"></i>Order</a></h3>
				{{/if }}
				{{#if isProfile}}
				<h3 class="active"><a href="/Profile"><i class="fas fa-address-card"></i>Profile</a></h3>
				{{else}}
				<h3><a href="/Profile"><i class="fas fa-address-card"></i>Profile</a></h3>
				{{/if }}

					<h3><a href="/auth/logout"><i class="fas fa-sign-out-alt"></i>Log out</a></h3>

				{{else}}
				{{#if isLogin}}
				<h3 class="active" ><a href="/auth/login"><i class="fas fa-sign-in-alt"></i>Login In</a></h3>
				{{else}}
				<h3><a href="/auth/login"><i class="fas fa-sign-in-alt"></i>Login In</a></h3>
				{{/if}}

				{{/if}}
				
			

		</ul>
</nav>



