<div id="card" class="container mt-5 p-3 rounded cart">
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="product-details mr-2">

                <div class="d-flex  align-items-center"><a href="/smart" class="btn btn-primary previous"
                        style="margin:0 10px 0 ; "> &laquo; Back </a>Continue Shopping</div>
                <hr>
                <h6 class="mb-0">Shopping cart</h6>
                <div class="d-flex justify-content-between">
                    <span></span>
                    <div class="d-flex  align-items-center"><span class="text-black-50">Sort by:</span>
                        <div class=" ml-2"><span class="mr-1">price</span><i class="fas fa-chevron-down"></i></div>
                    </div>
                </div>
                <div id="product_details">
                    {{#if smartPhones.length}}
                    {{#each smartPhones}}
                    <div id="product_detail"
                        class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
                        <div class="d-flex"><img class="card_image" src="{{img}}" title="{{title}}">
                            <div class="ml-2 smart_title"><span class="font-weight-bold d-block">{{title}}</span><span
                                    class="spec">{{descr}}</span></div>
                        </div>
                        <div class="d-flex  ">
                            <span class="d-block">{{count}}</span>
                            <span class="d-block ml-5 font-weight-bold price">{{price}}</span>
                            <a class="border-0 bg-white">
                                <i class="d-block js-remove fas fa-trash-alt" data-id="{{id}}"></i>
                            </a>
                        </div>
                    </div>
                    {{/each}}
                    {{else}}
                    <div class="container-fluid mt-100 ">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="cards">
                                    <div class="card-body cart">
                                        <div class="col-sm-12 empty-cart-cls text-center"> <img
                                                src="https://i.imgur.com/dCdflKN.png" width="130" height="130"
                                                class="img-fluid mb-4 mr-3">
                                            <h3><strong>Your Cart is Empty</strong></h3>
                                            <h4>Add something to make me happy :)</h4>
                                             <a href="/smart"
                                                class="btn btn-primary cart-btn-transform m-3" 
                                                data-abc="true">
                                                continue shopping
                                                </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top: 4rem !important;">
            <div class="payment-info">
                <div class="d-flex justify-content-between align-items-center"><span>Card details</span><img
                        class="rounded" src="https://i.imgur.com/WU501C8.jpg" width="30"></div><span
                    class="type d-block mt-3 mb-1">Card type</span><label class="radio"> <input type="radio" name="card"
                        value="payment" checked> <span><img width="30"
                            src="https://img.icons8.com/color/48/000000/mastercard.png" /></span> </label>
                <label class="radio"> <input type="radio" name="card" value="payment"> <span><img width="30"
                            src="https://img.icons8.com/officel/48/000000/visa.png" /></span> </label>
                <label class="radio"> <input type="radio" name="card" value="payment"> <span><img width="30"
                            src="https://img.icons8.com/ultraviolet/48/000000/amex.png" /></span> </label>
                <label class="radio"> <input type="radio" name="card" value="payment"> <span><img width="30"
                            src="https://img.icons8.com/officel/48/000000/paypal.png" /></span> </label>
                <div><label class="credit-card-label">Name on card</label><input type="text"
                        class="form-control credit-inputs" placeholder="Name"></div>
                <div><label class="credit-card-label">Card number</label><input type="text"
                        class="form-control credit-inputs" placeholder="0000 0000 0000 0000"></div>
                <div class="row">
                    <div class="col-md-6"><label class="credit-card-label">Date</label><input type="text"
                            class="form-control credit-inputs" placeholder="12/24"></div>
                    <div class="col-md-6"><label class="credit-card-label">CVV</label><input type="text"
                            class="form-control credit-inputs" placeholder="342"></div>
                </div>
                <hr class="line">
                <div class="d-flex justify-content-between information"><span>Shipping</span><span>free</span></div>
                <form action="/orders" method="POST">
                <button class="btn btn-primary btn-block d-flex justify-content-between mt-3" type="submit"><span
                        class="price prices">{{price}}</span><span>Order<i
                            class="fa fa-long-arrow-right ml-1"></i></span></button>
                </form>
            </div>
        </div>
    </div>
</div>